<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Listado Profesores</title>
	<link href="/css/style.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script type="text/javascript" src="/js/functions.js"></script>
</head>
<body>
	<div class="marco">
		<h1 align="center">Listado de todos las clases</h1>

		<div class="contenedorWeb">
			<table>
				<thead>
					<tr>
						<th>ID CLASE</th>						
						<th>TIPO</th>
						<th>DIA</th>
						<th>DURACIÓN</th>
						<th>INTENSIDAD</th>
						<th>PROFESOR</th>
						<th>ACCIONES</th>
					</tr>
				</thead>
				{{#clases}}
				<tbody>
					<tr>
						<td>{{id}}</td>
						<td>{{tipo}}</td>
						<td>{{fecha}}</td>
						<td>{{duracion}}</td>
						<td>{{intensidad}}</td>
						<td>{{#profeosorAsignado}}{{profesor}}{{/profeosorAsignado}}</td>
						<td>
							<form action="/socios/desapuntarClase" method="post">
								<input type="hidden" name="idClase" value="{{id}}">
								<input type="hidden" name="idSocio" value="{{socio.id}}">
								<button class="buttomIcon" type="submit" style="font-size:24px"> <i style="color:#A73D26" class="material-icons">highlight_off</i></button>
							</form>
							<a href="desapuntarClase/{{id}}{{socio.id}}" style="color:#5FBF21"></span>
						</td>
					</tr>
					{{/clases}}
				</tbody>
			</table>
		</div>
	</div>
	<div class="contendorEdicion" id="contenedorForm">
	</div>
	<div class="contenedorVolver">
		<input class="botom1" type="button" onclick="window.location.href='/socios/filtros.html'" name="volver atrás" value="VOLVER">
	</divclass>

</body>
</html>