<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Noticias</title>
<link href="/css/styleIndex.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div id="cont">
		<div id="encabezado">
			<h2>Tablón de noticias</h2>
		</div>
		<div id="contenido">
			{{#noticias}} <span class="noticia">
				<h2>{{titulo}} : {{fecha}}</h2>
				<p>{{texto}}</p>
				<hr />
			</span> {{/noticias}} {{#paginacion}}
			<div class="contenedorAvanzar">
				<input class="botom2" type="button"
					onclick="window.location.href='/tablon/noticia/{{antNum}}'"
					name="<" value="<"> <input class="botom2" type="button"
					onclick="window.location.href='/tablon/noticia/{{sigNum}}'"
					name=">" value=">">
				</divclass>
				{{/paginacion}}
			</div>
		</div>
		<div id="menu">
			<h3>Menu</h3>
			<ul>
				<li><a href="/">Home</a></li>
			</ul>
			{{#admin}}
			<ul>
			<li><a href="/tablon/nuevaNoticia.html">Añadir noticia</a></li>
			</ul>
			{{/admin}}
		</div>
</body>
</html>